<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.sceneryshare.dao.CollectMapper">
    <resultMap id="BaseResultMap" type="com.lxy.sceneryshare.domain.Collect" >
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="sceneryshare_id" property="sceneryshareId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="BaseColumnList">
        id,user_id,sceneryshare_id,create_time
    </sql>

    <insert id="insert" parameterType="com.lxy.sceneryshare.domain.Collect">
        insert into collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="sceneryshareId != null">
                sceneryshare_id,
            </if>
            create_time,
        </trim>
        <trim prefix=" values (" suffix=")" prefixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="sceneryshareId != null">
                #{sceneryshareId},
            </if>
            now()
        </trim>
    </insert>

    <delete id="delete" parameterType="java.util.HashMap" >
        delete from collect
        where user_id = #{userId}
        and sceneryshare_id = #{sceneryshareId}
    </delete>

    <select id="getAllCollect" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from collect
        where user_id = #{userId}
    </select>

    <select id="isCollect" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select COUNT(*)
        from collect
        where user_id = #{userId}
        and sceneryshare_id = #{sceneryshareId}
    </select>

    <select id="getCollectNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select COUNT(*)
        from collect
        where sceneryshare_id = #{sceneryshareId}
    </select>
</mapper>